In [2]:
people = {
    "first": ["Griffin", "Jane", "John"],
    "last": ["Sargent", "Doe", "Doe"],
    "email": ["griffin.a.sargent@gmail.com", "jane@email.com", "MikeJ@email.com"]
}

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(people)
df

     first     last                        email
0  Griffin  Sargent  griffin.a.sargent@gmail.com
1     Jane      Doe               jane@email.com
2     John      Doe              MikeJ@email.com

# Sorting by a column

In [6]:
df.sort_values(by='last', ascending=False)

     first     last                        email
0  Griffin  Sargent  griffin.a.sargent@gmail.com
1     Jane      Doe               jane@email.com
2     John      Doe              MikeJ@email.com

In [8]:
df.sort_values(by=['last', 'first'], ascending=False)

     first     last                        email
0  Griffin  Sargent  griffin.a.sargent@gmail.com
2     John      Doe              MikeJ@email.com
1     Jane      Doe               jane@email.com

In [14]:
# Suppose we want to have one column sorted ascending and another sorted descending
df.sort_values(by=['last', 'first'], ascending=[True,False], inplace=True)
df

     first     last                        email
2     John      Doe              MikeJ@email.com
1     Jane      Doe               jane@email.com
0  Griffin  Sargent  griffin.a.sargent@gmail.com

In [15]:
# Use index to sort instead
df.sort_index(inplace=True)
df

     first     last                        email
0  Griffin  Sargent  griffin.a.sargent@gmail.com
1     Jane      Doe               jane@email.com
2     John      Doe              MikeJ@email.com

In [16]:
# We can apply sorting to the whole dataframe or a single column (as a series)
df['last'].sort_values()

1        Doe
2        Doe
0    Sargent
Name: last, dtype: object