In [20]:
people = {
    "first": ["Griffin", "Jane", "Mike"],
    "last": ["Sargent", "Doe", "Jones"],
    "email": ["griffin.a.sargent@gmail.com", "jane@email.com", "MikeJ@email.com"]
}

In [21]:
import pandas as pd

In [22]:
df = pd.DataFrame(people)
df

     first     last                        email
0  Griffin  Sargent  griffin.a.sargent@gmail.com
1     Jane      Doe               jane@email.com
2     Mike    Jones              MikeJ@email.com

In [23]:
df.set_index('email')

                               first     last
email
griffin.a.sargent@gmail.com  Griffin  Sargent
jane@email.com                  Jane      Doe
MikeJ@email.com                 Mike    Jones

In [24]:
#pandas by default doesn't apply the df.set_index() in place, you need to provide inplace=true argument
df

     first     last                        email
0  Griffin  Sargent  griffin.a.sargent@gmail.com
1     Jane      Doe               jane@email.com
2     Mike    Jones              MikeJ@email.com

In [25]:
df.set_index('email', inplace=True)

In [26]:
df

                               first     last
email
griffin.a.sargent@gmail.com  Griffin  Sargent
jane@email.com                  Jane      Doe
MikeJ@email.com                 Mike    Jones

In [27]:
df.index

Index(['griffin.a.sargent@gmail.com', 'jane@email.com', 'MikeJ@email.com'], dtype='object', name='email')

In [28]:
# once you have an index, you can use it to filter rows
df.loc['griffin.a.sargent@gmail.com']

first    Griffin
last     Sargent
Name: griffin.a.sargent@gmail.com, dtype: object

In [29]:
df.iloc[1]

first    Jane
last      Doe
Name: jane@email.com, dtype: object

In [30]:
df.reset_index(inplace=True)
df

                         email    first     last
0  griffin.a.sargent@gmail.com  Griffin  Sargent
1               jane@email.com     Jane      Doe
2              MikeJ@email.com     Mike    Jones