In [10]:
people = {
    "first": ["Griffin", "Jane", "John"],
    "last": ["Sargent", "Doe", "Doe"],
    "email": ["griffin.a.sargent@gmail.com", "jane@email.com", "MikeJ@email.com"]
}

In [11]:
import pandas as pd

In [12]:
df = pd.DataFrame(people)
df

     first     last                        email
0  Griffin  Sargent  griffin.a.sargent@gmail.com
1     Jane      Doe               jane@email.com
2     John      Doe              MikeJ@email.com

In [16]:
# a conditional like below returns a mask, which you can feed into other places

filt = (df['last'] == 'Doe')
#df[filt]

df[(df['last'] == 'Doe')]

  first last            email
1  Jane  Doe   jane@email.com
2  John  Doe  MikeJ@email.com

In [20]:
# usually you would pass to df.loc some row/column info, but you can instead pass a series of True/False, a "mask"
# here "filt" tells df.loc the row, and then we tell it the columns we want in next arg
df.loc[filt, 'email']

1     jane@email.com
2    MikeJ@email.com
Name: email, dtype: object

In [24]:
# AND &
filt = (df['last'] == 'Doe') & (df['first'] == 'John')
df[filt]

  first last            email
2  John  Doe  MikeJ@email.com

In [26]:
# OR |
filt = (df['last'] == 'Sargent') | (df['first'] == 'John')
df[filt]

     first     last                        email
0  Griffin  Sargent  griffin.a.sargent@gmail.com
2     John      Doe              MikeJ@email.com

In [27]:
# NOT ~
df[~filt]

  first last           email
1  Jane  Doe  jane@email.com